
html,body{
    width: 100%;
    height: 100%;
}
/*############  loading start #########*/

.load-page{
    width: 100%;
    height: 100%;
    background-image: url(../img/load_bg.png);
    background-size: 100% 100%;
    position: relative;
    display: none;
}

.load-circle{
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4.5rem;
    margin-top: -4.5rem;
}

.load-circle-img{
    width: 9rem;
    height: 9rem;
    position: relative;
    z-index: 10;
    animation: load 7s linear infinite;
}

.load-circle-bg{
    width: 22rem;
    position: absolute;
    top: 6.5rem;
    z-index: 0;
    left: 50%;
    margin-left: -11rem;
}

.load-word{
    color:#fff;
    font-size: 1.33rem;
    text-align: center;
    margin-top: 2rem;
    text-shadow:0 0 5px #3541b3,1px 1px 1px #fff,-1px -1px 1px #fff,0 0 10px #FFFF99,0 0 20px #B9EB50;;
}

@keyframes load {
    25% {
        transform:rotate(-90deg);
    }
    50% {
        transform:rotate(-180deg);
    }
    75% {
        transform:rotate(-270deg);
    }
    100% {
        transform:rotate(-360deg);
    }
}

/*############  loading end #########*/
/*############  大背景 statrt #########*/
.content{
    width: 100%;
    height: 100%;
    background-image: url(../img/1.png);
    background-size: 100% 100%;
    position: relative;
    text-align: center;
}

/*############  大背景 end #########*/
/*############  主题 start #########*/
.valentine{
    display: none;
}
.valentine-title{
    position: relative;
    text-align: right;
    padding-top: 7rem;
}

.qixi{
    width: 27rem;
}

/*指纹*/
.fingerpint{
    position: absolute;
    left: 50%;
    margin-left: -7rem;
    margin-top: -1.5rem;

}
.fingerpint .finger-img{
    width: 14rem;
}

.fingerpint .finger-line{
    position: absolute;
    top: 6.5rem;
    width: 9rem;
    left: 50%;
    margin-left: -4.5rem;
}
/*############  主题 end #########*/
/*############  性别 start #########*/
.sex-selection{
    padding-top: 6rem;
    display: none;
}

.sex-sel{
    width: 18rem;
}

.sex-bg{
    width: 13rem;
}

.sex-man{
    position: relative;
}

.sex-ct{
    display: inline-block;
    width: 13rem;
    height: 13rem;
    background-size: 100% 100%;
}

.sex-selected .sex-ct{
    width: 16rem;
    height: 16rem;
    background-image: url(../img/sex_bg.png);
}

.sex-man .img-boy{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12rem;
    margin-left: -6rem;
    margin-top: -6.5rem;
}

.sex-man:nth-of-type(2){
    margin-top: -2.5rem;
}

.mofaM{
    width: 12.3rem;
    position: absolute;
    right: 0;
    top: 19.5rem;
}

.sex-btn{
    width: 15rem;
    margin-top: 2.4rem;
}

/*############  性别 end #########*/
/*############  上传图片 start #########*/
.upload-img{
    position: relative;
    display: none;
}

.upload-box{
    display: inline-block;
    margin-top: 7rem;
    position: relative;
}

.upload-box .up-pic{
    position: absolute;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -8.5rem;
    margin-top: -7.7rem;
    z-index: 5;
}

.upload-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
}

.upload-box img{
    width: 22rem;
}

.shuzhi{
    width: 19rem;
    position: absolute;
    right: 0;
    top: 18rem;
}

.upload-words{
    font-size: 1.3rem;
    color:#fff;
}

.upload-button{
    margin-top: 10rem;
}

.upload-button button{
    background-color: transparent;
}

.upload-button button img{
    width: 15rem;
}

.upload-button1{

}

.upload-button2{
    margin-top: 12rem;
    display: none;
}

button.btn-reset{
    position: relative;
    left: 1.5rem;
}

button.btn-zhan{
    position: relative;
    right: 1.5rem;
}

/*############  上传图片 end #########*/
/*############  最后 start #########*/
.last-content{
    padding-top: 2rem;
}

.last-word{
    position: relative;
}

.word-big-bg{
    width: 28rem;
}

.user-img-bg{
    width: 5rem;
    height: 5rem;
}

.user-info{
    position: absolute;
    top: 2rem;
    left: 5rem;
}

.user-img{
    display: inline-block;
    position: relative;
}

.user-info>ul{
    display: inline-block;
    padding-top: 1rem;
    vertical-align: top;
    text-align: left;
    padding-left: 0.5rem;
}

.user-name{
    /*display: inline-block;*/
    color:#fff;
}

.user-header-img{
    width: 4.6rem;
    height: 4.6rem;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -2.3rem;
    margin-top: -2.3rem;
    border-radius: 50%;
}

.my-word{
    position: absolute;
    top: 12rem;
    left: 5rem;
}

.my-word-info{
    width: 22rem;
    height: 11.2rem;
    background-image: url(../img/word_bg.png);
    background-size: 100% 100%;
}

.my-word-info img.word-width-16{
    width: 16rem;
    margin-top: 3rem;
}



.my-word-info img.word-width-12{
    width: 12rem;
    margin-top: 2.5rem;
}

.my-word-info img.word-width-14{
    width: 14rem;
    margin-top: 2.5rem;
}

.my-word-info img.word-width-15{
    width: 15rem;
    margin-top: 2.5rem;
}

.my-word-info img.word-width-18{
    width: 18rem;
    margin-top: 3rem;
}

.my-word-info img.word-width-21{
    width: 18rem;
    margin-top: 2.3rem;
}

.word-ewm{
    width: 8rem;
    height: 8rem;
    background-image: url(../img/ewm_bg.png);
    background-size: 100% 100% ;
    position: absolute;
    bottom: 3rem;
    left: 5rem;
}

.word-ewm img{
    width: 5.6rem;
    height: 5.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2.8rem;
    margin-left: -2.8rem;
}

.word-ewm>p{
    position: absolute;
    bottom: -2rem;
    color:#fff;
    font-size: 0.9rem;
}

.pic-tu{
    margin-top: 1rem;
}

.pic-tu>img{
    width: 24rem;
}

.reset-btn button{
    background-color: transparent;
}

.reset-btn button img{
    width: 15rem;
}


/*############  最后 end #########*/
